@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krona One", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cross-project {
  width: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
:root {
  --cards: #f5f5f5;
  --white: #f1f1f1;
  --bluebutton: #1b46f8;
  --darkbg: #292929;
  --cardfontcolor: #606060;
  --cardsubtitlecolor: #8e8e8e;
}

h3 {
  font-size: 25px;
  font-weight: 100;
}

h4 {
  font-size: 25px;
  font-weight: 100;
  color: var(--bluebutton);
}

.aboutme-btn {
  margin-top: 40px;
  width: 190px;
  height: 50px;
  font-size: 18px;
  background-color: var(--bluebutton);
  color: var(--white);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.aboutme-btn:hover {
  width: 300px;
}
.blue-arrow {
  width: 25px;
  margin-left: 20px;
}
.white-arrow {
  width: 25px;
  margin-left: 20px;
}
.white-arrow-about {
  width: 25px;
  margin-left: 20px;
}

/* Background image overlay */
.bgimage {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1000;
  border-bottom-left-radius: 9vw;
  border-bottom-right-radius: 9vw;
  box-shadow: 0px 10px 20px rgb(211, 211, 211);
  overflow: hidden;
}

.over-frontpage-text {
  margin-left: 5%;
}

.first-home {
  height: 90vh;
}

/* Kompetence cards starts here */
.overallcards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.kompetence-text-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kompetence-icon {
  width: 40px;
  height: 30px;
}
.kompetence-program {
  margin-top: 20px;
  width: 300px;
  align-self: flex-end;
}
.kompetence-brodtext-icon {
  width: 100%;
  height: 100%;
  display: flex;
}

.brodtext {
  margin-top: 30px;
}

.margin-header {
  margin-right: 40px;
  font-size: 20px;
}

/* About me teaser starts here */
.over-aboutteaser {
  display: flex;
  flex-direction: column;
}
.textcitat {
  margin: 10%;
  font-size: 18px;
}

.portrait-image {
  width: 30vw;
  border-radius: 5vw;
  align-items: flex-start;
}

.spinicon-signatur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-box {
  width: 95%;
}

.rightmarg {
  margin-right: 4vw;
}
.marginommig {
  margin-bottom: 5%;
}

/* About me teaser ends here */

/* Contact page information start here */
.overcontact-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 5%;
}

.overcircle-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  font-size: 25px;
}

.mail-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
}

/* Contact page information ends here */

/* aboutme starts here */

.image-portrait-about {
  margin-right: 5%;
}

.over-all-aboutpost {
  padding-bottom: 10%;
  padding-top: 5%;
  margin-bottom: 10%;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  /* box-shadow: 0px 10px 20px rgb(211, 211, 211); */
  box-shadow: 0 10px 20px -5px rgb(211, 211, 211);
}

.image-portrait-about-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* aboutme ends here */

/* Recommendation & choose me cards start here*/

.companylogo {
  height: 15px;
  margin-bottom: 1vw;
}
.persontext {
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.8;
  color: var(--cardfontcolor);
}
.companyperson {
  border-radius: 100%;
  width: 40px;
}
.img-text-reco {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1vw;
}

.navn-reco {
  font-size: 9px;
  letter-spacing: 2px;
  line-height: 1.8;
  color: var(--cardfontcolor);
}
.titel-reco {
  font-size: 8px;
  letter-spacing: 2px;
  line-height: 1.8;
  color: var(--cardsubtitlecolor);
}
.companyperson {
  margin-right: 15px;
}

.reco-maintext {
  white-space: pre-line;
  vertical-align: bottom;
  letter-spacing: 2px;
  line-height: 1.8;
  font-size: 16px;
  margin-top: 5%;
}
.buttonsss {
  width: 100px;
  height: 100px;
  background-color: #1b46f8;
}

/* Recommendation and choose me cards ends here*/

/* Project modal starts here */
.projectmodal {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.overall-project {
  width: 90vw;
  min-height: 100vh;
  background-color: var(--darkbg);
  border-radius: 4vw;
  position: absolute;
  z-index: 1000;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 1%;
  overflow-y: auto;
  overflow-x: auto;
  top: 10%;
}
.overclosebutton {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}

.aroundliveversionbtn {
  justify-self: start;
}

.closemodal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-project {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.over-kompetence:hover {
  box-shadow: 0px 40px 40px rgb(211, 211, 211);
}

.crossclose-icon {
  cursor: pointer;
  height: 70px;
  background-color: transparent;
  font-size: 30px;
  border: none;
  outline: none;
  z-index: 100;
}

.fas.fa-times {
  color: white;
  outline: none;
}

.text-project-type {
  margin-top: 10px;
  color: rgb(171, 171, 171);
}
.text-karekter {
  margin-top: 10px;
  margin-bottom: 30px;
  color: dimgrey;
}
.brodtext-projekter {
  color: white;
}

.head-color {
  color: white;
}

.btn-project:hover .overlay-project {
  opacity: 1;
}
.overlay-project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  background-color: var(--bluebutton);
  border-radius: 30px;
  cursor: pointer;
}

.overlay-text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Project modal ends here */

/*Mediarules*/

@media only screen and (max-height: 600px) {
  .imageofmikkel {
    display: none;
  }
  .landingbtn {
    display: none;
  }
  .roundcircle {
    display: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Big hero text starts here */
  .heading {
    margin-left: 5%;
    padding-top: 3%;
    font-size: 9vw;
    font-weight: 100;
  }
  .heading-about {
    margin-left: 5%;
    font-size: 8vw;
    font-weight: 100;
  }
  .over-heading {
    margin-left: 5%;
    display: block;
    position: absolute;
    font-size: 10vw;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bluebutton);
    z-index: -99;
  }
  .position-over-heading {
    width: 100%;
    height: 4vw;
    margin-top: 50px;
  }
  .overheadandsubhead {
    width: 100%;
    height: 4vw;
    margin-top: 130px;
  }

  .heading-landing {
    opacity: 0.2;
  }
  .under-heading {
    font-size: 14px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    line-height: 1.8;
    margin-right: 5%;
  }
  .over-frontpage-objects {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .imageofmikkel {
    width: 90vw;
    height: 50vw;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    left: 0;
    right: -110px;
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
    align-self: end;
    margin-top: 30px;
  }
  /* Round circle on overlay*/
  .roundcircle {
    width: 150vw;
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    bottom: 1px;
    z-index: -999;
    overflow: hidden;
  }
  /* Round circle div-holder*/
  .circle-holder {
    width: 100%;
    height: 100vh;
  }
  .over-kompetence {
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    width: 90vw;
    height: 450px;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    box-shadow: 0px 10px 20px rgb(211, 211, 211);
    margin-top: 14vw;
  }

  .project-info-image {
    width: 90vw;
    height: 48vw;
    border-radius: 30px;
  }
  .btn-project {
    position: relative;
    width: 90vw;
    height: 48vw;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgb(211 211 211);
    margin-top: 4vw;
  }

  .overcircle-text {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 18px;
  }
  .contact-heading {
    font-size: 12vw;
  }
  .mailbtn-contact {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding-left: 1vw;
    color: black;
  }
  .phonenumber-contact {
    font-size: 18px;
    padding-left: 1vw;
    color: black;
  }
  .contacticons-contact {
    width: 30px;
  }
  .roundcirclefull {
    position: absolute;
    width: 200px;
    right: 0;
    top: 4vw;
    z-index: -10;
  }
  .recomendationcard-over {
    background-color: var(--cards);
    border-radius: 30px;
    width: 90vw;
    box-shadow: 0px 10px 20px rgb(211 211 211);
    margin-bottom: 50px;
    padding: 20px;
  }
  .section-reco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
  .reco-heading {
    font-size: 7vw;
    margin-bottom: 5%;
    padding-right: 5%;
  }
  .chooseme {
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .over-img-text {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .over-img-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10vw;
  }
  .removesmallscreen {
    display: none;
  }
  .signatur-image {
    width: 30vw;
    height: 9vw;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkbg);
    border-radius: 5vw;
    color: white;
  }
  .over-button-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .spintext {
    margin-right: -1vw;
    margin-bottom: -15vw;
    width: 30vw;
    height: 30vw;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
  }
  .blue-landing-text {
    font-size: 4.5vw;
  }
  .locationtext {
    padding-top: 20px;
    font-size: 16px;
  }
  .landingbtn {
    margin-top: 40px;
    width: 190px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    color: var(--bluebutton);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .landingbtn:hover {
    width: 300px;
  }
  .blue-arrow {
    width: 25px;
    margin-left: 20px;
  }
  .white-arrow {
    display: none;
  }
  .white-arrow-about {
    width: 25px;
    margin-left: 20px;
  }
  .reco-maintext {
    background-color: var(--cards);
    padding: 5%;
    border-radius: 30px;
  }
  .margin-text {
    margin-left: 2%;
    margin-right: 2%;
  }
  .imgportrait-mobile {
    border-radius: 30px;
    width: 93vw;
    margin-top: 5%;
  }
  .imgportrait {
    display: none;
  }
  .showprojectimg {
    width: 80vw;
    border-radius: 8px;
    margin-top: 5%;
  }
  .images-project {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .margin-reco {
    padding: 5%;
  }
}
.about-underoverskrift {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 16px;
  font-weight: 100;
  color: var(--bluebutton);
  letter-spacing: 2px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Big hero text starts here */
  .heading {
    margin-left: 5%;
    margin-top: 5vw;
    font-size: 8vw;
    font-weight: 100;
  }
  .heading-about {
    margin-left: 5%;
    font-size: 8vw;
    font-weight: 100;
  }
  .overheadandsubhead {
    width: 100%;
    height: 4vw;
    margin-top: 10vw;
  }
  .margin-text {
    margin-left: 9%;
    margin-right: 9%;
  }
  .reco-maintext {
    border-radius: 30px;
  }

  .over-heading {
    margin-left: 5%;
    display: block;
    position: absolute;
    font-size: 9vw;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bluebutton);
    z-index: -99;
  }
  .over-frontpage-objects {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .locationtext {
    padding-top: 20px;
    font-size: 20px;
  }

  .imageofmikkel {
    width: 90vw;
    height: 30vh;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    left: 0;
    right: -110px;
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
    align-self: end;
    margin-top: 30px;
  }
  /* Round circle on overlay*/
  .roundcircle {
    width: 80vw;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: -999;
    overflow: hidden;
  }
  /* Round circle div-holder*/
  .circle-holder {
    width: 100%;
    height: 100vh;
  }

  .over-kompetence {
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    width: 90vw;
    height: 350px;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    box-shadow: 0px 10px 20px rgb(211, 211, 211);
    margin-top: 6vw;
  }
  .project-info-image {
    width: 90vw;
    height: 48vw;
    border-radius: 30px;
  }
  .btn-project {
    position: relative;
    width: 90vw;
    height: 48vw;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgb(211 211 211);
    margin-top: 4vw;
  }
  .mailbtn-contact {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 25px;
    padding-left: 1vw;
    color: black;
  }
  .phonenumber-contact {
    font-size: 25px;
    padding-left: 1vw;
    color: black;
  }
  .contacticons-contact {
    width: 40px;
  }
  .overcircle-text {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;
  }
  .roundcirclefull {
    position: absolute;
    width: 400px;
    right: 0;
    top: 4vw;
    z-index: -10;
  }

  .section-reco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
  .recomendationcard-over {
    background-color: var(--cards);
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgb(211 211 211);
    margin-bottom: 100px;
    padding: 20px;
    width: 42vw;
  }
  .reco-heading {
    font-size: 5vw;
  }
  .chooseme {
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    border-radius: 30px;
    padding: 40px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .about-underoverskrift {
    margin-left: 5%;
    font-size: 20px;
    font-weight: 100;
    color: var(--bluebutton);
    letter-spacing: 2px;
  }
  .over-img-text {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .over-img-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .removesmallscreen {
    display: none;
  }
  .signatur-image {
    width: 30vw;
    height: 9vw;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkbg);
    border-radius: 5vw;
    color: white;
    height: 40vw;
    margin-bottom: 10vw;
  }
  .over-button-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .spintext {
    margin-right: -1vw;
    margin-bottom: -2vw;
    width: 30vw;
    height: 30vw;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
  }
  .overmodal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .images-project {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .showprojectimg {
    width: 80vw;
    border-radius: 8px;
    margin-top: 5%;
  }
  .landingbtn {
    margin-top: 40px;
    width: 190px;
    height: 50px;
    font-size: 18px;
    background-color: var(--bluebutton);
    color: var(--white);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .landingbtn:hover {
    width: 300px;
  }
  .blue-arrow {
    display: none;
  }
  .white-arrow {
    display: block;
  }
  .white-arrow-about {
    width: 25px;
    margin-left: 20px;
  }
  .heading-landing {
    display: none;
  }
  .position-over-heading {
    width: 100%;
    height: 4vw;
    margin-top: 50px;
  }
  .imgportrait-mobile {
    border-radius: 30px;
    width: 93vw;
    margin-top: 5%;
  }
  .imgportrait {
    display: none;
  }
  .under-heading {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    line-height: 1.8;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Big hero text starts here */
  .heading {
    margin-top: 0vw;
    font-size: 5vw;
    white-space: nowrap;
  }
  .over-heading {
    margin-left: 5%;
    display: block;
    position: absolute;
    font-size: 6vw;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bluebutton);
    z-index: -99;
  }

  .heading-about {
    margin-left: 8%;
    margin-top: 0vw;
    font-size: 4vw;
    white-space: nowrap;
  }

  .position-over-heading {
    width: 100%;
    height: 4vw;
    margin-top: 50px;
  }
  /* Big hero text ends here */

  /* Round circle on overlay*/
  .roundcircle {
    width: 60vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: -999;
    overflow: hidden;
  }
  /* Round circle div-holder*/
  .circle-holder {
    width: 100%;
    height: 100vh;
  }
  .mailbtn-contact {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 40px;
    padding-left: 1vw;
    color: black;
  }
  .phonenumber-contact {
    font-size: 40px;
    padding-left: 1vw;
    color: black;
  }
  .contacticons-contact {
    width: 50px;
  }
  .overcircle-text {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 25px;
  }
  .section-reco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
  .removesmallscreen {
    display: none;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkbg);
    border-radius: 5vw;
    color: white;
    height: 40vw;
  }
  .signatur-image {
    width: 20vw;
    height: 5vw;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .over-img-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .imgportrait-mobile {
    display: none;
  }
  .imgportrait {
    display: block;
    border-radius: 60px;
    width: 30vw;
    margin-left: 5%;
    margin-top: 5%;
  }
  .showprojectimg {
    width: 80vw;
    border-radius: 8px;
    margin-top: 5%;
  }
  .images-project {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* div-holder image and text*/
  .over-frontpage-objects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  .imageofmikkel {
    width: 60vw;
    height: 400px;
    border-radius: 300px;
    right: -110px;
    object-fit: cover;
  }

  /* Round circle on overlay*/
  .roundcircle {
    display: block;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 210px;
    z-index: -999;
    overflow: hidden;
  }
  /* Round circle div-holder*/
  .circle-holder {
    width: 100%;
    height: 100vh;
  }
  .section-choose-reco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
  }
  .section-reco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0%;
  }
  .recomendationcard-over {
    background-color: var(--cards);
    border-radius: 30px;
    width: 30vw;
    box-shadow: 0px 10px 20px rgb(211 211 211);
    margin-bottom: 100px;
    padding: 20px;
  }
  .reco-heading {
    font-size: 2.5vw;
  }
  .chooseme {
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    border-radius: 60px;
    padding: 40px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .about-underoverskrift {
    margin-left: 9%;
    font-size: 20px;
    font-weight: 100;
    color: var(--bluebutton);
    letter-spacing: 2px;
  }
  .over-all-aboutpost {
    display: flex;
    justify-content: space-between;
    height: 80vh;
  }
  .over-text {
    width: 60vw;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkbg);
    border-radius: 5vw;
    color: white;
    height: 25vw;
  }
  .over-button-textbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .signatur-image {
    width: 20vw;
    height: 5vw;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .over-img-text {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .bigscreenremove {
    display: none;
  }
  .removesmallscreen {
    display: block;
  }
  .spintext {
    margin-right: -1vw;
    margin-bottom: -2vw;
    width: 15vw;
    height: 15vw;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
  }
  .overmodal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .images-project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .overtext-modal {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .showprojectimg {
    width: 30vw;
    border-radius: 8px;
    margin-top: 5%;
  }
  .images-project {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1065px) {
  .over-kompetence {
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    background-color: var(--cards);
    width: 43vw;
    height: 350px;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    box-shadow: 0px 10px 20px rgb(211, 211, 211);
    margin-top: 4vw;
  }
  .project-info-image {
    width: 43vw;
    height: 24vw;
    border-radius: 30px;
  }
  .btn-project {
    position: relative;
    width: 43vw;
    height: 24vw;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgb(211 211 211);
    margin-top: 4vw;
  }
  .showprojectimg {
    width: 30vw;
    border-radius: 8px;
    margin-top: 5%;
  }
  .images-project {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .under-heading {
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1550px) {
  .imgportrait {
    display: block;
    border-radius: 60px;
    width: 500px;
    margin-left: 5%;
    margin-top: 5%;
  }
  .imageofmikkel {
    width: 60vw;
    height: 400px;
    border-radius: 300px;
    right: -110px;
    object-fit: cover;
  }
}
