@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krona One", sans-serif;
}
a {
  text-decoration: none;
}

:root {
  --cards: #f5f5f5;
  --white: #f1f1f1;
  --bluebutton: #1b46f8;
  --darkbg: #292929;
}

/* Footer starts here */

li {
  list-style: none;
  text-decoration: none;
}

.liststyle {
  padding-bottom: 2vw;
}
a.contact-footer,
.about-footer,
.projects-footer {
  text-decoration: none;
  color: var(--white);
}

.mail-info,
.phone-info {
  display: flex;
  flex-direction: row;
}

.mobile-info {
  padding-top: 1vw;
}

.contacticons-footer {
  width: 25px;
  height: 24px;
}

.socialsicon-footer {
  width: 25px;
}

.mailbtn-footer {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--white);
  padding-left: 1vw;
}

.phonenumber-footer {
  color: var(--white);
  padding-left: 1vw;
}
.around-footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links,
.footer-cantact-socials {
  margin-right: 4vw;
}
.footer-logo-text {
  padding-left: 5%;
}

.codingweb {
  font-size: 8px;
  padding-top: 50px;
}

.footer-links {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  font-family: "Krona One", sans-serif;
}
.whitebox-footer {
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom-left-radius: 9vw;
  border-bottom-right-radius: 9vw;
}

/* Footer ends here */
/*Mediarules*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-circle {
    display: none;
  }
  .footer-logo-text,
  .footer-links,
  .footer-cantact-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vw;
  }
  .footer-links-contact {
    margin-left: 5%;
  }
  .footer-links {
    margin-top: 100px;
  }
  .footer-logo-text,
  .footer-contact {
    margin-top: 30vw;
  }
  footer {
    background-color: var(--darkbg);
    width: 100%;
    color: var(--white);
  }

  .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50vw;
    padding-top: 100px;
  }

  .mobile-info {
    margin-top: 3vw;
  }
  .footer-overall {
    height: 100vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .footer-circle {
    display: none;
  }
  .footer-logo-text,
  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vw;
  }
  .footer-links {
    padding-top: 9vw;
  }
  .footer-logo-text {
    padding-top: 9vw;
  }
  .footer-overall {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10vw;
    padding-top: 50px;
  }
  footer {
    background-color: var(--darkbg);
    width: 100%;
    color: var(--white);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-links-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-logo-text,
  .footer-links,
  .footer-cantact-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 13vw;
    padding-bottom: 13vw;
    height: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1065px) {
  .footer-circle {
    display: block;
    display: flex;
    justify-content: flex-end;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
