@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krona One", sans-serif;
}
a {
  text-decoration: none;
}

:root {
  --cards: #f5f5f5;
  --white: #f1f1f1;
  --bluebutton: #1b46f8;
  --darkbg: #292929;
  /* navbar starts here */
}
.logo {
  width: 130px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 5%;
  z-index: 100;
}

.socialicons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects,
.about,
.contact {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  font-family: "Krona One", sans-serif;
}

.mobile-toggle-icon {
  display: none;
}

.social {
  width: 25px;
  margin: 10px;
}

.between-menu {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.projects :hover {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1b46f8;
}
.about :hover {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1b46f8;
}
.contact :hover {
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1b46f8;
}
/* navbar ends here */

@media screen and (max-width: 860px) {
  .logo {
    display: flex;
  }
  .navbar {
    padding-left: 5px;
    padding-right: 5px;
  }
  .navlinks {
    display: none;
  }

  .navlinks-mobile {
    position: fixed;
    display: block;
    list-style: none;
    background-color: var(--darkbg);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 10vh;
    top: 0px;
    width: 90%;
    height: 100vh;
    right: 0;
    color: white;
    box-shadow: -20vw 0px #2c2c2cde;
    overflow: hidden;
    z-index: 99;
  }

  li {
    color: white;
  }

  .sociallinks {
    display: none;
  }
  .social-mobile {
    position: fixed;
    display: block;
    list-style: none;
    bottom: 20px;
    width: 90%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  .projects,
  .about,
  .contact {
    color: black;
    text-align: center;
    padding: 1vw;
    width: 100%;
    transition: all;
    padding-top: 10%;
    font-size: 30px;
  }

  .about {
    padding-left: 100px;
  }
  .mobile-toggle-icon {
    height: 70px;
    flex: 0 1 auto;
    background-color: transparent;
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
    z-index: 100;
  }

  .between-menu {
    display: none;
  }

  .social {
    width: 40px;
    margin: 20px;
  }
  .crosstoggle {
    position: fixed;
    width: 40px;
    right: 20px;
    top: px;
  }
  .menutoggle {
    width: 40px;
  }
}
